include article/article.pug
include img/img.pug

main.main
    +img('Change-your-Screen.png')
    +article('We design and build', 'beautiful web & mobile apps', 'You can design and create, and build the most wonderful place in the world. But it takes people to make the dream a reality. - Walt Disney', '#', 'Know more')