.main
  width 100%
  min-height 584px
  background-color #ef5350
  position relative
  z-index 10
  @media screen and (min-width 1600px)
    min-height 755px
  @media screen and (min-width 1900px)
    min-height 875px
  @media screen and (max-width 1200px)
    min-height 515px
  @media screen and (max-width 1000px)
    min-height 385px
  @media screen and (max-width 900px)
    min-height 330px
  @media screen and (max-width 800px)
    min-height 270px
  @media screen and (max-width 700px)
    min-height 225px
  @media screen and (max-width 600px)
    min-height 190px
  @media screen and (max-width 600px)
    min-height 140px