@import "fonts.css"
@import "reset.css"

*
  box-sizing border-box

body
  background-color #ffffff
  font-family 'Montserrat', sans-serif
  font-size 25px
  color #626262

@import '../includes/*'
@import '../includes/header/logo/*'
@import '../includes/header/nav/*'
@import '../includes/main/article/*'
@import '../includes/main/img/*'
@import '../includes/footer/copyright/*'
@import '../includes/footer/form/*'