.footer__form
  width 47%
  display block
  right 2%
  position relative
  float right
  margin-bottom 2%

.form__header
  font-size .8em
  margin 0 5%
  margin-bottom 2.5%
  color #ef5350
  margin-top 4.8%
  font-weight 300

.form__input
  height 52px
  margin-right 2%
  width 39%
  margin-bottom 2%
  font-size .6em
  padding-left 4%
  border-color #e3f2fd
  border-radius 4px
  border-style solid
  border-width 2px
  margin-left 2%
  @media screen and (max-width 600px)
    height 35px
    margin-bottom 1%
  @media screen and (max-width 400px)
    height 25px

.last
  margin-right 0
  padding-left 6%
  margin-left 0

.form__select
  display inline-block
  width 39%
  height 52px
  position relative
  border-color #e3f2fd
  border-radius 4px
  border-style solid
  border-width 2px
  @media screen and (max-width 600px)
    height 35px
  @media screen and (max-width 400px)
    height 25px

.select-arrow-1
  position absolute
  z-index -9999
  border 12px solid transparent
  border-bottom 0
  right 4%
  top 40%
  border-top-color #1de9b6
  @media screen and (max-width 400px)
    border-width 5px

.select-arrow-2
  position absolute
  z-index -9999
  border 12px solid transparent
  border-bottom 0
  right 4%
  top 38%
  border-top-color #FFF
  @media screen and (max-width 400px)
    border-width 5px

.select
  width 100%
  height 100%
  background transparent
  border 0
  padding-left 15%
  font-size .6em
  appearance none

.form__textarea
  height 103px
  width 80%
  border-color #e3f2fd
  border-radius 4px
  border-style solid
  border-width 2px
  font-size 0.6em
  margin-left 2%
  padding 2% 2% 2% 3%
  @media screen and (max-width 800px)
    height 65px
  @media screen and (max-width 400px)
    height 40px

.form__submit
  color #ffffff
  background-color #ef5350
  position relative
  float right
  min-height 50px
  width 19%
  font-size .8em
  text-transform uppercase
  border-radius 10px
  margin .8% 17% 0 0
  @media screen and (max-width 800px)
    min-height 35px
  @media screen and (max-width 800px)
    min-height 25px