mixin img(img)
    .main__img.img
        img.img__photography(src=require('./images/' + img))
        .img__speaker1.speaker1
        .img__speaker2.speaker2
        .img__touch.touch
        .img__dark-green.dark-green
        .img__white-green.white-green