include form/form.pug
include copyright/copyright.pug

footer.footer
    +form('Lets Talk', ['App Design'], ['App Design'], 'First Name', 'Last  Name', 'Email Address', 'Type your query here', 'Send')
    +copyright('2015 indipixel design', 'contact@yourmail.com')