.main__article
  float right
  margin-right 192px
  margin-top 208px
  position relative

.article
  width: 607px
  height 350px

.text1__header
  text-transform uppercase
  font-weight bold
  line-height 1
  letter-spacing 0.67px
  color #fff

.text2__main
  font-weight bold
  line-height 1
  letter-spacing 0.67px
  color #f9fbe8
  display inline-block
  text-align justify

.article__button
  bottom 0
  right 0
  position absolute

.button
  color #ffffff
  width 202px
  height 67px
  background-color #68EEAC
  text-align center
  margin auto 0
  line-height 60px
  text-transform uppercase
  border-radius 8px
  font-size 22px
