.footer__copyright
  width 100%
  display block
  bottom 0
  overflow hidden
  height 80px
  line-height 4
  font-size 20px

.copyrigth__span1::before
  content "\00A9"
  height 20px
  width 20px
  display block
  margin-left 230px

.copyrigth__span2::before
  content "\2709"
  height 20px
  width 20px
  display block
  color plum
  margin-left 401px
  font-size 43px
  line-height 1.8
  margin-right 19px